.links-header {
  .vertical-list-card.collapsed-style {
    .card-header {
      padding-top: 16px!important;
      padding-bottom: 16px!important;

      .middle-text {
        font-size: $font-l!important;
        top: 6px;
      }
    }
  }
}