.selection-frame{

  $border-thickness:5px;
  $border-offset:-3px;

  width:$border-thickness;
  height:$border-thickness;
  background-color:white;
  box-shadow:0px 0px 1px rgba(0,0,0,.3);
  border:1px solid rgba(0,0,0,.3);
  position:absolute;
  z-index: 2;

  &.top{
    top:$border-offset;
  }
  &.left{
    left:$border-offset;
  }
  &.right{
    right:$border-offset;
  }
  &.bottom{
    bottom:$border-offset;
  }
  &.middle-w{
    left:calc(50% + #{$border-offset});
  }
  &.middle-h{
    top:calc(50% + #{$border-offset});
  }

}

.selection-line{
  $line-thickness: 1px;
  background-color:rgba(255,255,255,.4);
  position:absolute;
  z-index: 2;
  &.h {
    width:100%;
    height:$line-thickness;
    left:0;
  }
  &.v {
    height:100%;
    width:$line-thickness;
    top:0;
  }
  &.top{
    top:0;
  }
  &.bottom{
    bottom:0;
  }
  &.left{
    left:0;
  }
  &.right{
    right:0;
  }
}
