.links-viewer {
  margin-bottom: 0!important;
}
.no-link-description {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text-primary {
    font-size: $font-l;
  }
  
  .text-secondary {
    font-size: $font-m;
  }
}