
//Style the color picker here
.sketch-picker {
  width:calc(#{$sidebar-width} - 36px)!important;
  background-color:$color-bg-3!important;
  margin:.5rem 0;
  padding-bottom:.5rem!important;

  .flexbox-fix:last-child{
    display:none!important;
  }

  input {
    // width:32px;

    // position:relative;
    // top:-7px;

    background-color:transparent!important;
    color:$color-text-2!important;
    border:1px solid transparent!important;
    border-radius:4px!important;
    padding:4px!important;
    box-shadow: none!important;


    &:hover, &:focus {
      background-color:$color-bg-5!important;
    }

    &:focus {
      border:1px solid $color-slider-fill!important;
      outline:none!important;
    }
  }
  input + span {
    color:$color-text-3!important;
    text-align:left!important;
    font-size:$card-body-title!important;
    text-transform:uppercase!important;
    padding-left:6px!important;
  }

}
.color-picker-swatch {
  margin-bottom:.5rem;
}

.color-picker-title {

  color:$color-text-3;
  font-size:$card-body-title;
  text-transform:uppercase;
  user-select:none;

}
