.top-bar {
  height: $top-bar-height;
  background-color: $color-topbar-bg;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  & > div {
    margin-right: 1rem;
  }
}
