.slider {

  display:inline-block;
  margin-right:16px;

  .slider-title {

    color:$color-text-3;
    font-size:$card-body-title;
    text-transform:uppercase;
    user-select:none;

  }

  .rangeslider {

    height:16px;
    width:80px;
    margin:0 0 .5rem 0;
    display:inline-block;
    box-shadow:none;

    .rangeslider__handle {
      &:focus{
        outline:none;
      }
    }

    &, .rangeslider__fill {
      border-radius:2px;
    }

    .rangeslider__handle {

      border:none;
      border-radius:2px;
      height:22px;
      width:12px;

      .rangeslider__handle-tooltip {
      }

      &::after {
        display:none;
      }
    }

    .rangeslider__fill {
      background-color:$color-slider-fill;
    }

  }

}

#card-fill {

  .rangeslider__handle-tooltip {

    &::selection {
      background:none;
    }

    top:35px;
    user-select:none;
    position:relative;
    z-index:999999;

    &::after {

      border-bottom: 8px solid rgba(0, 0, 0, 0.8);
      border-top:none;
      top: -8px;

    }

  }

}
