$color-preview-bar-bg: #DDD;
$color-window-bg: #FFF;

$window-height:600px;
$window-width:800px;

$bar-height:24px;

.preview-window-container {

  height:$window-height;
  width:$window-width;

  border-radius: 10px 10px 0 0;
  border:1px solid $color-preview-bar-bg;
  background:transparent;

  .window-bar {

    border-radius: 10px 10px 0 0;
    height:$bar-height;
    background-color: rgba($color-preview-bar-bg,0.6);
    box-sizing: border-box;
    display:flex;
    padding:6px;
    padding-left:12px;

    .window-button {

      display:inline-block;
      width:12px;
      height:12px;
      box-sizing: border-box;
      border-radius:50%;
      margin-right:6px;

      &.red {
        background-color:rgb(255,59,48);
        border-color:rgb(235,39,28);
      }

      &.green {
        background-color:rgb(99,218,56);
        border-color:rgb(79,198,36);
      }

      &.yellow {
        background-color:rgb(255,204,0);
        border-color:rgb(235,184,0);
      }
    }

  }

  .window {

    overflow-y:scroll;
    height:calc(100% - #{$bar-height});
    background-color:$color-window-bg;

  }

}
