.viewer-wrapper {
  position:absolute;
  width:calc(100vw - calc(#{$sidebar-width} + #{$sidebar-width-left}));
  height:calc(100vh - #{$top-bar-height});

  left:$sidebar-width-left;
  top:$top-bar-height;
  transition:.05s ease-in-out transform;
  will-change: transform;
  overflow:auto;
  box-sizing:border-box;
  // background-color:$color-bg-5;
  &.scroll-fixer{
    opacity:0;
  }
  &.scroll-disabled {
    overflow:hidden;
  }
}

// .scroll-position-demo {
//
//   position:absolute;
//   // top:20px;
//   // left:20px;
//   // color:white;
  $scrollbar-thickness:10px;
  .viewer-scrollbar {
    z-index:2000;
    position:absolute;
    width:$scrollbar-thickness;
    height:10px;
    background-color:$color-bg-3;
    $offset:4px;
    border-radius:4px;
    &.x-axis{
      margin-bottom:5px;
      top:calc(100% - #{$scrollbar-thickness + $offset});
      width:40px;
    }
    &.y-axis{
      height:40px;
      left:calc(100% - #{$scrollbar-thickness + $offset})
    }
  }
// }

$bg-size-w:11320px;
$bg-size-h:8690px;

$artboard-size-w:3000px;
$artboard-size-h:2100px;

.component-viewer-bg, .viewer-pinch-zoom, .scroll-fixer {

  position:relative;
  background-color:$color-bg-5;
  box-sizing:border-box;
  border:20px dashed rgba(255,255,255,.8);

}
.snapshot-parent {
  position: relative;
}

.component-viewer-bg {
  &.edit-mode {
    background-color:$color-bg-5;
  }
  &.preview-mode {
    background-color:white;
  }
}

.scroll-fixer{
  width:2000px;
  height:2000px;
}

.component-viewer {

  position:absolute;
  background-color:$color-viewer-bg;
  touch-action:auto!important;

  &:focus {
    outline:none;
  }

  .edit-component, .preview-component {
    position: absolute;
    &:focus {
      outline: none;
    }
  }

  .text-component {

    .text-inner {
      user-select:none;
      margin:0;
    }

    .text-outer {
      width:100%;
      height:100%;
      overflow:hidden;
    }

    .text-outer.edit-mode ~ .selection-frame,
    .text-outer.edit-mode ~ .selection-line {
      display:none;
    }

    &:hover {
      outline:none;
      cursor:default;

      .text-outer:not(.edit-mode) {

        box-shadow: inset 0 -1px 0 transparent, inset 0 -2px 0 $highlight-color;

      }



    }


  }

  .component-container {

    left:0;
    top:0;
    position:absolute;

    svg {
      fill:transparent;
    }

    // &.child.hover-active:hover {

    //   outline:2px solid $highlight-color;
    //   cursor:default;

    // }

    &.component-artboard {
      &:hover{
        outline:none;
      }
    }

  }

  //Panning state for the viewer

  &.draggable {

    cursor:grab;

    .component-container.child:hover, .component-container.text-component:hover {

      // outline:2px solid $highlight-color;

      cursor:grab;
      outline:none;

      .text-outer {
        box-shadow: none;
      }

    }

  }

  &.react-draggable-dragging {

    cursor:grabbing;

    .component-container.child:hover, .component-container.text-component:hover {

      // outline:2px solid $highlight-color;

      cursor:grabbing;

    }

  }

}


.clickFrame {

  width:100%;
  height:100%;
  position:absolute;
  top:0;
  z-index:1;
  outline:1px solid #ccc;

  .click-box{

    width:7px;
    height:7px;
    // border-radius:50%;
    background-color:#fff;
    outline:1px solid #eee;
    box-sizing:content-box;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    position:absolute;

    &#click-box-1,&#click-box-7,&#click-box-8 {

      left:-4px;

    }

    &#click-box-3,&#click-box-4,&#click-box-5 {

      left:calc(100% - 2px);

    }

    &#click-box-1,&#click-box-2,&#click-box-3 {

      top:-5px;

    }

    &#click-box-5,&#click-box-6,&#click-box-7 {

      top:calc(100% - 3px);

    }

    &#click-box-4,&#click-box-8{

      top:calc(50% - 3px);
      &:hover {
        cursor:ew-resize;
      }

    }

    &#click-box-2,&#click-box-6{

      left:calc(50% - 3px);
      &:hover {
        cursor:ns-resize;
      }

    }

    &#click-box-1,&#click-box-5{
      &:hover{
        cursor:nwse-resize;
      }
    }

    &#click-box-3,&#click-box-7{
      &:hover{
        cursor:nesw-resize;
      }
    }


  }
}
