.mini-prev-wrapper {

  margin-top:0!important;
  margin-bottom:0!important;

  .mini-prev-container {

    margin-bottom:0!important;
    background-color:$color-bg-3;
    border-radius:8px;

    &.minimized {

      .mini-prev-body {

        height:0;
        padding:0;
        transition:.2s ease-in-out all;

      }

      .mini-prev-header {

        border-radius:8px;

      }

    }

    .mini-prev-header {

      @include CardHeader;

      position:relative;

      svg {

        transform: scale(.75);

      }

      .middle-icon {

        padding:0 1rem;

        &:hover {

          cursor:pointer;

        }

      }

      .right-side-icons {

        svg {

          &:hover {

            cursor:pointer;

          }

        }

        .flip {

          svg {
            transform: scaleX(-1) scale(.75);

          }

        }

      }


    }

    .mini-prev-body {

      transition:.2s ease-in-out all;
      background-color:$color-preview-bg;
      height:150px;
      padding:.75rem .75rem .75rem .75rem;
      border-radius:0 0 8px 8px;
      box-sizing:border-box;

    }

  }


}
