@import 'assets/style';
@import 'props/style';
@import 'links/style';
@import 'layers/style';


.resizeable-wrapper {
  height:calc(100vh - #{$top-bar-height});
}

.sidebar-resizable {
  position:absolute;
  left:0;
  top:$top-bar-height;
  height:calc(100% - #{$top-bar-height});
  width:100%;
  background-color:$color-sidebar-bg;
}

.sidebar-container {

  background-color:$color-sidebar-bg;
  color:$color-text-1;

  &.sidebar-right {

    width:$sidebar-width;
    height:calc(100vh - #{$top-bar-height});

    position:absolute;
    top:$top-bar-height;
    box-sizing:border-box;
    overflow-y:auto;

    right:0;
    display:flex;
    flex-direction:column;

    background: #000;

    .add-to-arrangement {

      padding-top:0;

    }

  }

  &.sidebar-left {

    position:static;
    width:auto;
    height:auto;
    top:0;
    position:relative;
    z-index:99;
    color:transparent;
    height:calc(calc(100% - #{$top-bar-height}) - #{$margin-all});
    box-sizing:content-box;
    margin:.5rem;
    border-radius:8px;

  }
}

.interaction-nav {

  position:absolute;
  bottom:0;
  height:$interaction-nav-height;
  margin:0;
  background-color:$color-bg-7;
  display:flex;
  align-items: center;
  justify-content:space-around;

  .nav-el {

    height:24px;

    &:hover {

      cursor:pointer;

      svg {
        fill:$color-icon-hover;
      }

    }

    &.selected-icon svg {
      fill:$color-slider-fill;
    }

    svg {

      fill:white;

    }

  }

  &.left-nav {

    left:0;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:flex-start;

    .nav-el {

      width:auto;
      padding-left:19px;

      svg {

        &:hover{
          cursor:pointer;
        }

      }

    }

  }
}
