.component-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  .snapshot-wrapper {

    margin-right: .75rem;
    padding: 2px;

    border-radius: 4px;

    background-color: white;

    .snapshot {
      width: 16px;
      height: 16px;

      img {
        user-select: none;
        transform-origin: 0 0;
      }
    }
  }
  .component-name {
    font-size: $font-l;
  }
}

.linked-selection-init,
.linked-selection-selection {
  width: 100%;
  padding: .5rem .275rem;
  border-radius: 6px;

  font-size: $font-m;
  text-align: center;
  user-select: none;

}

.linked-selection-init {
  background-color: $color-blue;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.linked-selection-selection {
  background-color: $color-bg-5;
  padding: .5rem 2rem;
}

.target-selections {
  display: flex;
  flex-direction: column;
  width: 100%;

  .component-container {
    margin-bottom: .5rem;
    width: 100%;

    &:last-child {
      margin: 0;
    }

    &:hover .delete-button {
      display: flex;
    }

    .delete-button {
      display: none;
      margin-left: auto;

      &:hover {
        cursor: pointer;

        svg {
          fill:  $color-icon-hover;
        }
      }
    }
  }
}