.card {

  border-radius: 6px;
  background-color: $color-bg-3;
  display: inline-block;
  width: 100%;

  .card-header {
    @include CardHeader;
  }

  .card-body {

    display:flex;
    padding:.75rem .75rem .5rem .75rem;

  }

  &.disabled-style {

    .card-body {
      opacity:.3;
      filter: grayscale(100%);
      pointer-events: none;
    }

    .card-header{
      color:$color-text-disabled-card-header;
    }

  }

  &.collapsed-style {

    .card-header{
      border-radius: 6px;
    }

    .card-body{
      display:none;
    }

  }

}

.vertical-list-card {
  margin-bottom: .5rem;

  .card-body {
    padding:0;

    .card-vertical-list-wrapper {
      width:100%;

      ul {
        &:hover {
          cursor: pointer;
        }
        margin: 0;
        padding: 0;
        li.vertical-list-option {

          display: flex;
          justify-content: space-between;
          padding: .5rem .5rem .5rem .75rem;
          color: $color-text-2;
          font-size: $font-m;
          border-bottom: 1px solid $color-bg-10;

          &.icon-left {
            flex-direction: row-reverse;
            justify-content: flex-end;
          }

          &:hover {
            background-color: $color-bg-5;
          }

          &:active {
            background-color: $color-blue;
          }

          &:last-of-type {
            border: 0px solid transparent;
            border-radius: 0px 0px 6px 6px;
          }

          &.selected {
            background-color:$color-blue;
          }

          .option-icon {
            opacity:0;

            &.icon-visible {
              opacity:1;
            }
          }

          .option-icon {
            padding-right: .5rem;
            svg {
              @include Icon;
              height: 12px;
              width: 12px;
            }
          }

        }
      }
    }
  }

}

.dropdown-card {
  .card-body{
    padding: .45rem;
    padding-left: .45rem;
    .dropdown-selected {
      font-size: $font-m;
      padding: .3rem;
      border-radius: .25rem;
      &:hover {
        background-color: $color-blue;
        cursor: pointer;
      }
    }
  }
}


.card-dropdown-options-wrapper {
  ul {
    background-color:$color-bg-3;
    border-radius:.5rem;
    margin:0;
    margin-bottom:.5rem;
    padding:.25rem 0;
    li{
      font-size:$font-m;
      text-decoration: none;
      list-style-type: none;
      padding:.25rem .75rem;
      &:hover{
        background-color:$color-bg-5;
        cursor:pointer;
      }
      &.selected {
        background-color:$color-blue;
      }
      &.line {
        height:1px;
        width:100%;
        background-color:$color-bg-10;
        margin:.25rem 0;
        padding:0;
      }
      &:first-child{
        border-radius:.25rem .25rem 0px 0px;
      }
      &:last-child{
        border-radius:0px 0px .25rem .25rem;
      }
    }
  }
}
