.horizontal-option-group-wrapper {

  display:flex;
  align-items:center;
  justify-content: space-around;
  background-color:$color-bg-3;
  border-radius:8px;

  margin-bottom: .5rem;

  &:hover {
    cursor:pointer;
  }

  .horizontal-option{

    text-align:center;
    color:$color-text-2;
    font-size:$font-m;
    background-color:$color-bg-3;
    width:100%;
    padding:.5rem 0;
    user-select: none;
    border-collapse: separate;
    border-radius:8px;

    &.selected {
      background-color:$color-blue;
    }

  }
}
