
//Colors
$color-bg-1:#2C2C2C;
$color-bg-2:#343434;
$color-bg-3:#434343;
$color-bg-4:#686868;
$color-bg-5:#565656;
$color-bg-6:#444444;
$color-bg-7:#1A1A1A;
$color-bg-8:#AFAFAF;
$color-bg-9:#7E7E7E;
$color-bg-10:#353535;
$color-bg-11:#595959;
$color-bg-12:#F2F2F2;
$color-text-1:#D8D8D8;
$color-text-2:#FFFFFF;
$color-text-3:#7E7E7E;
$color-text-4:#949494;
$color-icon-hover:#BCBCBC;
$color-checkbox-fill:#FFFFFF;
$color-blue:#0879FE;
$color-slider-fill:$color-blue;

$color-preview-bg:$color-bg-12;

//Font Sizes
$font-xs:8px;
$font-s:10px;
$font-m:11px;
$font-l:14px;

$color-text-disabled-card-header:$color-text-4;

$card-body-main-text:$font-l;
$card-header-font-size:$font-s;
$card-body-title:$font-s;
$card-body-bottom-border:$color-bg-10;
$button-font-size:$font-m;

$border-r:8px;

$margin-ui:.5rem;
$margin-all:calc(2 * #{$margin-ui});

$highlight-color:#83d0f2;


//Specific colors
//Viewer
$color-viewer-bg:$color-bg-2;

//buttons
$color-button-bg:$color-bg-3;
$color-button-border:$color-bg-10;
$color-button-hover:$color-bg-5;
$color-button-selected:$color-blue;

$color-card-hover:$color-bg-5;

//Vertical Nav
$vertical-nav-height:44px;

//Sidebar
$color-sidebar-bg:$color-bg-1;
$sidebar-width:260px;
$sidebar-width-left:230px;
$interaction-nav-height:$vertical-nav-height;

//Top Bar
$color-topbar-bg:$color-bg-7;
$top-bar-height:44px;

@mixin Checkbox{
  .check-default {
    svg {
      fill: $color-checkbox-fill;
    }
    span:last-child {
      color:$color-checkbox-fill;
    }
  }

  .check-checked {

  }

  .check-checked-primary {

  }

  .check-checked-secondary {

  }
}

@mixin CardHeader {

  height:24px;
  padding:0 6px 0 .75rem;
  box-sizing:border-box;

  display:flex;
  align-items:center;
  justify-content: space-between;

  border-radius:$border-r $border-r 0 0;

  font-size:$card-header-font-size;

  letter-spacing:.5px;

  text-transform:uppercase;
  background-color:$color-bg-4;
  color:$color-text-2;
  user-select:none;

}

body, html, #root {
  font-family: 'Helvetica Neue', Helvetica, Arial, Roboto;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

//Font
body {

  margin:0px;
  overflow: hidden;
  background-color:$color-viewer-bg;

  * {
    font-family:"Roboto", sans-serif;
  }

}

.quo-content {
  overflow: hidden;
  width:100vw;
  height:100vh;
  .quo-container {
    height:100%;
    width:100%;
  }
}
